<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users Table</h3>

                        <div class="card-tools">
                            <button class="btn btn-success"  data-toggle="modal" data-target="#addNew">Add New
                                <i class="fas fa-user-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody><tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Registed At</th>
                                <th>Modify</th>
                            </tr>
                            <tr v-for="user,index in users">
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.created_at}}</td>
                                <td><span class="tag tag-success">Approved</span></td>
                                <td>

                                    <a href="#" @click="deleteUser(user.id,index)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">Add New</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="createUser()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input v-model="form.name" type="text" name="name"
                                       placehoder="Name"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NguoiDung",
        data(){
            return {
                users:{},
                form: new Form({
                    name:''
                }),

            }
        },
        methods:{
            createUser(){
                var app = this;
                axios.post('/api/v0/user',this.form)
                    .then(function (resp) {
                        app.$router.push({path: '/nguoi-dung'});
                        Fire.$emit('AfterCreate');
                        $('#addNew').modal('hide');

                    })
                    .catch(function (response) {
                        console.log(response);
                        alert("Could not create user");
                    });
            },
            deleteUser(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v0/user/' + id)
                        .then(function (resp) {
                            app.users.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete user");
                        });
                }
            },
            loadUser(){
                var app=this;
                axios.get('/api/v0/user')
                    .then(function (resp) {
                        app.users = resp.data;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not load user");
                    });
            }

        },
        created() {
            this.loadUser();
                Fire.$on('AfterCreate',()=>{
                   this.loadUser();
                });
        }
    }
</script>

<style scoped>

</style>
