<template>
    <div class="mt-3">
        <router-link :to="{name: 'listPhong'}" class="btn btn-block btn-primary" style="width: 230px!important;"><i class="fas fa-arrow-left mr-2"></i>Quay lại trang bài đăng</router-link>
    <div class="card card-primary mt-3">
        <div class="card-header">
            <h3 class="card-title">Tạo bài đăng phòng trọ</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" @submit="createPost" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label >Code</label>
                    <input type="text" class="form-control" v-model="post.code" placeholder="Mã bài đăng">
                </div>
                <div class="form-group">
                    <label >Liên hệ</label>
                    <input type="text" class="form-control" v-model="post.contact" placeholder="Số điện thoại">
                </div>
                <div class="form-group">
                    <label >Diện tích</label>
                    <input type="text" class="form-control" v-model="post.area" placeholder="diện tích">
                </div>
                <div class="form-group">
                    <label >Giá một tháng</label>
                    <input type="text" class="form-control" v-model="post.price_monthly" placeholder="Giá">
                </div>
                <div class="form-group">
                    <label>Textarea</label>
                    <textarea class="form-control" rows="2" placeholder="Địa chỉ" v-model="post.full_address"></textarea>
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea class="form-control" rows="3" placeholder="Mô ta chi tiết" v-model="post.dep"></textarea>
                </div>
                <div class="form-group">
                    <label >Ngày hết hạn</label>
                    <input type="date" class="form-control" v-model="post.expired">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Ảnh</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="images" @change="onImageChange" class="custom-file-input" multiple>
                            <label class="custom-file-label" >Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    </div>
</template>

<script>
    export default {
        name: "CreatePhongTro",
        data(){
            return{
                post:{
                    images:[]
                }
            }
        },
        methods:{
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files);
            },
            createImage(files) {
                let vm = this;
                for (var i = 0; i < files.length; i++) { //for multiple files
                    (function(file) {
                        var name = file.name;
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            // get file content
                            vm.post.images.push(reader.result);
                        }
                        reader.readAsDataURL(file);
                    })(files[i]);
                }
                console.log(post.images);
            },
            createPost(){
                var app=this;
                event.preventDefault();
                axios.post('/api/v0/baidang',app.post)
                    .then(function (resp) {
                        app.$router.push({path: '/list-phong'});
                    })
                    .catch(function (response) {
                        console.log(response);
                        alert("Could not create your post");
                    });
            }

        }


    }
</script>

<style scoped>

</style>
