<template>
    <div class="mt-3">
        <router-link :to="{name: 'createPhong'}" class="btn btn-block btn-primary" style="width: 200px!important;"><i class="fas fa-pen mr-2"></i>Tạo bài đăng</router-link>
    <div class="card card-primary mt-3">
        <div class="card-header">
            <h3 class="card-title">Danh sách bài đăng phòng trọ</h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <tbody><tr>
                    <th>ID</th>
                    <th>Mã</th>
                    <th>Trạng thái</th>
                    <th>Liên hệ</th>
                    <th>Giá/Tháng</th>
                    <th>Địa chỉ</th>
                    <th>Người tạo</th>
                    <th>Khu vực</th>
                    <th>Mô tả</th>
                    <th>Ngày tạo</th>
                    <th>Hết hạn</th>
                    <th>Cập nhật</th>
                    <th>Hành động</th>

                </tr>
                <tr v-for="p,index in baidang">
                    <td>{{p.id}}</td>
                    <td>{{p.code}}</td>
                    <td>{{(p.status)?"Mở":"Đóng"}}</td>
                    <td>{{p.contact}}</td>
                    <td>{{p.price_monthly}}</td>
                    <td>{{p.full_address}}</td>
                    <td>{{p.userName}}</td>
                    <td>{{p.provinceName}}</td>
                    <td>{{p.description}}</td>
                    <td>{{p.created_at}}</td>
                    <td> {{p.expired_at}}</td>
                    <td>{{p.update_at}}</td>
                    <td class="align-middle">
                        <a @click="deleteBaiDang(p.id,index)"><i class="fas fa-trash-alt mr-2"></i></a>/
                        <router-link :to="{name: 'editPhong'}"><i class="fas fa-edit ml-2" style="color: black!important;"></i></router-link>
                    </td>
                </tr>
                </tbody></table>
        </div>
        <!-- /.card-body -->
    </div>
    </div>
</template>

<script>
    export default {
        name: "PostPhongTro",
        data(){
            return{
                baidang:[]
            }
        },
        mounted() {
            var app=this;
            axios.get('/api/v0/baidang')
                .then(function (resp) {
                    app.baidang = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load post");
                });
        },
        methods: {
            deleteBaiDang(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v0/baidang/' + id)
                        .then(function (resp) {
                            app.baidang.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete post");
                        });
                }
            }
        }

    }
</script>

<style scoped>
</style>
